body{
    margin: 0;
    background-color: #d3cece;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    max-width: 50vh;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock-wrapper{
   width: 50vh;
   height: 50vh;
   margin: 0 auto;
   background-color: #C6B4CE;
   display: flex;
   justify-content: center;
   align-items: center;
}

.clock{
    width: 35vh;
    height: 35vh; 
    background-image: url("img/clockimage.png");
    background-size: 100% 100%;
    position: relative;
    border: 4px solid black;
    border-radius: 35vh;
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
}

.center-circle{
    background-color: black;
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.minute-hand{
   position: absolute;
    width: 36%;
    top: 50%;
    left: 50%;
    margin-top: -10.5%;
    transform-origin: 0% 50%;
    transform: rotate(-90deg);
    animation: minute-move 10s 1s forwards;
}

.hour-hand{
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    margin-top: -7%;
    transform-origin: 0% 50%;
    animation: hour-move 10s 1s forwards;
}

.clock img{
    width: 100%;
    height: 100%;
}


@keyframes minute-move{
    0% {}
    8.3% {transform: rotate(-60deg);}
    16.6% {transform: rotate(-30deg);}
    24.9% {transform: rotate(0deg);}
    33.2% {transform: rotate(30deg);}
    41.5% {transform: rotate(60deg);}
    49.8% {transform: rotate(90deg);}
    58.1% {transform: rotate(120deg);}
    66.4% {transform: rotate(150deg);}
    74.7% {transform: rotate(180deg);}
    83% {transform: rotate(210deg);}
    91.3% {transform: rotate(240deg);}
    100% {transform: rotate(270deg);}

    /* 100% {transform: rotate(270deg);} */
}

@keyframes hour-move{
    0% {}
    8.3% {transform: rotate(2.5deg);}
    16.6% {transform: rotate(5deg);}
    24.9% {transform: rotate(7.5deg);}
    33.2% {transform: rotate(10deg);}
    41.5% {transform: rotate(12.5deg);}
    49.8% {transform: rotate(15deg);}
    58.1% {transform: rotate(17.5deg);}
    66.4% {transform: rotate(20deg);}
    74.7% {transform: rotate(22.5deg);}
    83% {transform: rotate(25deg);}
    91.3% {transform: rotate(27.5deg);}
    100% {transform: rotate(30deg);}

    /* 100% {transform: rotate(30deg);} */
}
